html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    fill: inherit;
}


h1, h2, h3, h4, h5, p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    height: fit-content;
    font-weight: 600;
}

p {
    font-weight: 400;
}

button {
    outline: none;
    border:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

prim {
    color:rgb(0, 0, 0, 1);
}



/* NAVIGATION ----------------------------------------------------------------------------------------------------- */

nav {
    display: flex;
    padding: 4px;
    gap: 4px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

nav a {
    padding: 8px 16px;
    opacity: 0.5;
    font-size: 17px;
    align-items: center;
    border-radius: 11px;
    transition: all 0.3s ease;
}

nav a:hover {
    background: rgb(0, 0, 0, 0.05);
    opacity: 0.75;
}

.selected {
    opacity: 0.75;
}

@media only screen and (max-width: 700px) {
    nav {
        border-radius: 0;
        width: 100vw;
        justify-content: space-around;
        position: fixed;
        top: 0px;
    }

    nav a svg {
        display: none;
    }

    .selected svg {
        display: initial;
    }
}






/* STRUCTURAL ----------------------------------------------------------------------------------------------------- */

.contain, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
    width: 100vw;
}

holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1;
}

view, responsive {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-block: 120px;
    gap: 30px;
    width: 100%;
}

view {
    overflow: hidden;
    background: linear-gradient(to bottom, white, #FAFBFC);
}

responsive {
    padding-block: 0;
    gap: 30px;
    width: 90vw;
    max-width: 980px;
    position: relative;
}

.small {
    display: none;
}

.not-small {
    display: initial;
}

column, row {
    display: flex;
    flex-direction:column;
}

row {
    flex-direction:row;
}

.dark, .darker, .dark-gradient {
    background: #1D1D1D;
    color: white;
}

.darker {
    background: black;
}

.dark-gradient {
    background: linear-gradient(to bottom, #1D1D1D, black);
}

.dark h2, .darker h2, .dark-gradient h2 {
    color: rgb(255, 255, 255, 0.55);
}

.dark prim, .darker prim, .dark-gradient prim {
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 48px;
    line-height: 52px;
}

h2 {
    font-size: 21px;
    line-height: 29px;
    color:rgb(0, 0, 0, 0.5);
}

h3 {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.5);
}



@media (width <= 1068px) {
    responsive {
        max-width: 700px;
    }

    h1 {
        font-size: 40px;
        line-height: 44px;
    }
}

@media (width <= 735px) {
    view {
        padding-block: 100px;
    }

    responsive {
        max-width: 312px;
    }

    .small {
        display: initial;
    }

    .not-small {
        display: none;
    }

    h1 {
        font-size: 32px;
        line-height: 36px;
    }

    h2 {
        font-size: 19px;
        line-height: 27px;
    }
}








/* KEYMARK ----------------------------------------------------------------------------------------------------- */

/* Font */
.keymark h1 {
    font-size: 80px;
    line-height: 84px;
}

.keymark h2 {
    font-size: 36px;
    line-height: 40px;
    color: black;
}

/* Structure */
.keymark {
    gap: 40px;
    text-align: center;
}

.five {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 1720px;
}

.five holder {
    max-height: 600px;
}

.five .iPhone {
    height: 700px;
}

@media (width <= 1068px) {
    .keymark h1 {
        font-size: 64px;
        line-height: 68px;
    }

    .five {
        width: 1315px;
    }
    
    .five holder {
        max-height: 480px;
    }
    
    .five .iPhone {
        height: 560px;
    }
}

@media (width <= 735px) {
    .keymark h1 {
        font-size: 48px;
        line-height: 52px;
    }
    
    .keymark h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .five {
        width: 900px;
    }
    
    .five holder {
        max-height: 325px;
    }
    
    .five .iPhone {
        height: 380px;
    }
}








/* DISCOVER ----------------------------------------------------------------------------------------------------- */

.discover responsive {
    padding-inline: 80px;
}

.yourself {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.yourself .text {
    padding-block: 80px;
    gap: 30px;
    max-width: 330px;
}

.up-to {
    gap: 4px;
    padding-block: 50px;
}

.yourself holder {
    padding-left: 70px;
    max-width: 330px;
}

.yourself .iPhone {
    max-height: 950px;
}

.fit-cabinet {
    gap: 60px;
    padding-inline: 80px;
    align-items: flex-start;
}

.fit-cabinet .text {
    gap: 30px;
    max-width: 570px;
}

.cabinet-picker {
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    border-radius: 100px;
    align-self: center;
    background-color: rgb(0, 0, 47, 0.05);
    width:fit-content;
}

.cab-view {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.cab-view:hover > svg {
    opacity: 1;
}

.cab-view svg {
    opacity: 0.5;
}

.pressed {
    background-color: white;
}

.pressed svg {
    opacity: 1;
}

.fit-cabinet holder {
    max-height: 505px;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05)) 1;
}

.fit-cabinet .cabinet {
    aspect-ratio: 979/630;
    min-height: 660px;
    background-image: url(Im/s-cabinet-1.webp);
    transition: background-image 0.25s ease-in-out;
}


@media (width <= 1068px) {
    .discover responsive {
        padding-inline: 0px;
    }

    .yourself .text {
        padding-block: 0px;
        max-width: 293px;
    }

    .up-to {
        padding-block: 20px;
    }

    .yourself holder {
        padding-left: 25px;
        max-width: 293px;
    }

    .yourself .iPhone {
        max-height: 750px;
    }

    .fit-cabinet {
        gap: 40px;
        padding-inline: 0px;
    }

    .fit-cabinet .text {
        gap: 30px;
        max-width: 570px;
    }

    .fit-cabinet holder {
        max-height: 465px;
    }
    
    .fit-cabinet .cabinet {
        min-height: 610px;
    }
}

@media (width <= 735px) {
    .yourself {
        flex-direction: column;
        gap: 40px;
    }

    .yourself .text {
        padding-block: 0px;
        max-width:none;
    }

    .up-to {
        padding-block: 10px;
    }

    .yourself holder {
        padding-left: 0px;
        max-width:none;
    }

    .yourself .iPhone {
        max-height: 730px;
    }
    
    .fit-cabinet holder {
        max-height: 324px;
    }
    
    .fit-cabinet .cabinet {
        min-height: 425px;
    }
}









/* PRESHOW ----------------------------------------------------------------------------------------------------- */

/* Font */
.preshow h1 {
    font-size: 64px;
    line-height: 68px;
    align-self: flex-start;
}

/* Structure */
.preshow {
    padding-block: 100px 0px;
}

.preshow responsive {
    gap: 90px;
}

.preshow .iPhone {
    max-height: 530px;
}

@media (width <= 1068px) {
    .preshow h1 {
        font-size: 48px;
        line-height: 52px;
    }

    .preshow {
        padding-block: 75px 0px;
    }
}

@media (width <= 735px) {
    .preshow h1 {
        font-size: 40px;
        line-height: 44px;
    }

    .preshow {
        padding-block: 70px 0px;
    }

    .preshow .iPhone {
        max-height: 400px;
    }
}







/* ARTIFACT INTRO ----------------------------------------------------------------------------------------------------- */

/* Font */

.artifact-intro p {
    font-size: 15px;
    line-height: 20px;
    color: rgb(255, 255, 255, 0.55);
}

/* Structure */

.artifact-intro {
    padding-block: 120px 60px;
}

.artifact-intro responsive {
    align-items: flex-start;
    gap: 10px;
}

.artifact-intro .text {
    max-width: 570px;
    gap: 30px;
}

.items {
    aspect-ratio: 1170/385;
    min-height: 400px;
    background-image: url(Im/s-items.webp);
}

@media (width <= 1068px) {

    .artifact-intro {
        padding-block: 120px 70px;
    }

    .artifact-intro responsive {
        gap: 0px;
    }
    
    .artifact-intro .text {
        gap: 20px;
    }

    .items {
        aspect-ratio: 795/385;
        min-height: 390px;
        background-image: url(Im/s-items-med.webp);
    }
}

@media (width <= 735px) {
    .artifact-intro {
        padding-block: 100px 80px;
    }
    
    .items {
        aspect-ratio: 400/650;
        min-height: 600px;
        background-image: url(Im/s-items-small.webp);
    }
}







/* ARTIFACT GALLERY ----------------------------------------------------------------------------------------------------- */

/* Structure */

.artifact-gallery {
    gap: 90px;
}

.artifact-gallery responsive {
    padding-inline: 80px;
    flex-direction: row;
    justify-content: space-between;
}

.artifact-gallery .reverse {
    flex-direction: row-reverse;
}

.artifact-gallery .text {
    gap: 20px;
    justify-content: center;
    max-width: 330px;
}

.artifact-gallery .text holder {
    align-items: flex-start;
    max-width: 330px;
}

.artifact-gallery .artifact {
    max-height: 100px;
}

.artifact-gallery holder {
    max-width: 330px;
    max-height: 815px;
}

.artifact-gallery .iPhone {
    max-height: 950px;
}

@media (width <= 1068px) {
    .artifact-gallery responsive {
        padding-inline: 0px;
    }

    .artifact-gallery .text {
        max-width: 293px;
    }

    .artifact-gallery .text holder {
        max-width: 293px;
    }

    .artifact-gallery holder {
        max-width: 293px;
        max-height: 643px;
    }
    
    .artifact-gallery .iPhone {
        max-height: 750px;
    }
}

@media (width <= 735px) {
    .artifact-gallery {
        padding-block: 100px;
    }

    .artifact-gallery responsive, .artifact-gallery .reverse {
        flex-direction: column;
    }

    .artifact-gallery .text {
        max-width: 320px;
    }

    .artifact-gallery .text holder {
        max-width: 320px;
    }

    .artifact-gallery holder {
        max-width: 320px;
        max-height: 626px;
    }
    
    .artifact-gallery .iPhone {
        max-height: 730px;
    }
}








/* TUNNEL GRID ----------------------------------------------------------------------------------------------------- */

.dark-gradient h2 {
    width: 240px;
}

/* Structure */
.tunnel-grid {
    padding-block: 160px 120px;
}

.tunnel-grid responsive {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    row-gap: 80px;
}

.tunnel-grid column {
    gap: 20px;
    align-items: center;
}

.tunnel-grid holder {
    max-height: 555px;
}

.tunnel-grid .iPhone {
    max-height: 650px;
}

@media (width <= 1068px) {
    .tunnel-grid responsive {
        max-width: 700px;
    }
}

@media (width <= 735px) {
    .tunnel-grid {
        padding-block: 120px 100px;
    }

    .tunnel-grid responsive {
        max-width: 320px;
    }
}







/* SHELF-ICONS ----------------------------------------------------------------------------------------------------- */

/* Font */

.shelf-icons h2 {
    max-width: 320px;
}

/* Structure */

.shelf-icons {
    padding-block: 120px 0px;
}

.shelf-icons responsive {
    flex-direction: row;
    justify-content: space-between;
}

.shelf-icons holder {
    max-width: 490px;
    text-align: left;
}

.shelf-icons .iPhone {
    max-height: 540px
}

@media (width <= 1068px) {
    .shelf-icons h2 {
        max-width: 290px;
    }

    .shelf-icons holder {
        max-width: 300px;
    }

    .shelf-icons .iPhone {
        max-height: 480px
    }
}

@media (width <= 735px) {
    .shelf-icons responsive {
        flex-direction: column;
        gap: 30px;
    }

    .shelf-icons h2 {
        max-width: none;
    }

    .shelf-icons {
        padding-block: 100px 0px;
    }

    .shelf-icons holder {
        max-width: none;
    }

    .shelf-icons .iPhone {
        max-height: 380px
    }
}








/* WORKFLOW ----------------------------------------------------------------------------------------------------- */

/* Structure */
.workflow {
    padding-block: 120px 0px;
}

.workflow responsive {
    align-items: flex-start;
    gap: 90px;
}

.workflow row {
    display: grid;
    grid-auto-flow: column;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: 265px;
    transition: all 0.6s cubic-bezier(0.28, 0.11, 0.32, 1);
    position: relative;
}

.workflow holder {
    max-width: 450px;
    opacity: 0.5;
    transition: all 0.6s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.workflow .current {
    opacity: 1;
}

.workflow .iPhone {
    max-height: 650px;
}

.workflow-trail {
    padding-block: 40px 120px;
}

.workflow-trail resposnive {
    gap: 60px;
}

.workflow-trail h2 {
    font-size: 19px;
    line-height: 27px;
    max-width: 330px;
}

.button-container {
    display: flex;
    width: 486px;
    justify-content: space-between;
    position:absolute;
    align-self: center;
    justify-self: center;
    z-index: 3;
    margin-top: 210px;
}

.left, .right {
    width: 36px;
    height: 36px;
    opacity: 0.5;
}

.left:active, .right:active {
    opacity: 0.85 !important;
}

.left {
    opacity: 0.25;
}

.spring-up {
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.spring-up.animate {
    animation: reveal 0.75s ease-in-out both;
}
  
@keyframes swap {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (width <= 1068px) {
    .button-container {
        width: 426px;
        margin-top: 180px;
    }

    .workflow holder {
        max-width: 390px;
    }

    .workflow .iPhone {
        max-height: 560px;
    }

    .workflow-trail h2 {
        max-width: 293px;
    }

    .workflow row {
        margin-inline: 155px;
    }
}

@media (width <= 735px) {
    .button-container {
        width: 351px;
        margin-top: 130px;
    }

    .workflow responsive {
        gap: 60px;
    }

    .workflow holder {
        max-width: 315px;
    }

    .workflow .iPhone {
        max-height: 450px;
    }

    .workflow-trail h2 {
        font-size: 17px;
        line-height: 25px;
        max-width: 240px;
    }

    .workflow row {
        margin-inline: -1.5px;
    }
}







/* SUB-SECTION ----------------------------------------------------------------------------------------------------- */

/* Font */
.sub-section h3 {
    font-size: 19px;
    line-height: 23px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

/* Color */ 

.green h3 {
    color: #328E24;
}
.green button {
    background-color: #328E24;
}

.orange h3 {
    color: #F8612F;
}
.orange button {
    background-color: #F8612F;
}

.ice h3 {
    color: #8697BD;
}
.ice button {
    background-color: #8697BD;
}

.pink h3 {
    color: #F5547E;
}
.pink button {
    background-color: #F5547E;
}

.blue h3 {
    color: #459DCA;
}
.blue button {
    background-color: #459DCA;
}


/* Structure */
.sub-section {
    padding-top: 90px;
    justify-content: center;
}

.tunnel-grid .sub-section column, .sub-section column {
    align-items: center;
    align-self: center;
    gap: 0px;
    justify-self: center;
}

.trigger button {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
    z-index: 3;
}

.trigger button svg {
    transition: all 0.5s ease-in-out;
}

@media (width <= 1068px) {
    .sub-section h3 {
        max-height: 293px;
    }
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.75s cubic-bezier(0.28, 0.11, 0.32, 1);
    width: 100%;
}
  
.wrapper.is-open {
    grid-template-rows: 1fr;
}
  
.inner {
    overflow: hidden;
}

.inner .text {
    padding-block: 150px 120px;
    background: #F5F7F9;
    z-index: 0;
}

.inner .text responsive {
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

.vertical {
    max-height: 600px;
}

.text responsive column {
    width: 100%;
}

.inner-grid {
    margin-top: 30px;
    columns: 300px 2;
    column-gap: 30px;
}

.text responsive column p {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.tapped {
    background-color: rgb(0, 0, 0, 0.25) !important;
    transform: translateY(90px);
    position: relative;
}

.tapped svg {
    transform: rotate(45deg);
}











/* EFFECTS ----------------------------------------------------------------------------------------------------- */

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background: linear-gradient(to bottom, #62B7DC, #1981C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.appear {
    opacity: 0;  
    filter: blur(5px);
    transform: scale(0.9);
    animation: appearAnimation 1.5s ease-in-out forwards;
    animation-delay: 2s; 
}

@keyframes appearAnimation {
    100% {
      filter: blur(0);
      transform: scale(1);
      opacity: 1;
    }
}

.first, .second, .third, .fourth, .fifth {
    animation: moveAnimation 1.75s ease-in-out forwards;
    opacity: 0;  
}

.second {
    animation-delay: 0.2s; 
}
.third {
    animation-delay: 0.3s; 
}

.fourth {
    animation-delay: 0.4s; 
}

.fifth {
    animation-delay: 0.5s; 
}

@keyframes moveAnimation {
    0% {
      transform: translateX(1600px);
    }
    25% {
        transform: translateX(1600px);
        opacity: 0.5;
    }
    75% {
        transform: translateX(-30px);
        opacity: 1;
      }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@media (width <= 735px) {
    @keyframes moveAnimation {
        0% {
          transform: translateX(1600px);
        }
        25% {
            transform: translateX(1600px);
            opacity: 0.5;
        }
        75% {
            transform: translateX(-20px);
            opacity: 1;
          }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
    }
}

.spring-up {
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.spring-up.animate {
    animation: reveal 0.75s ease-in-out both;
}
  
@keyframes reveal {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}










