*, *::before, *::after {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    fill: inherit;
}

.contain {
    margin: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    padding: 0px 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
    width: 100vw;
}

body {
    margin: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    padding: 15px 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
    width: 100vw;
}

nav {
    display: flex;
    padding: 4px;
    gap: 4px;
    border-radius: 16px;
    background-color: rgba(247, 247, 247, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    width: fit-content;
    height: fit-content;
    z-index: 4;
}

nav a {
    display: flex;
    gap: 6px;
    padding: 8px 12px;
    opacity: 0.5;
    font-size: 17px;
    align-items: center;
    border-radius: 12px;
    transition: background 0.3s ease, opacity 0.3s ease;
}

nav a:hover {
    background: rgb(0, 0, 0, 0.08);
    opacity: 0.75;
}

.selected {
    background: rgb(0, 0, 0, 0.05);
    opacity: 0.75;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    height: fit-content;
    font-weight: 600;
}

p {
    font-weight: 400;
}

@media only screen and (max-width: 1130px) {
    body {
        gap: 130px;
        padding: 15px 30px;
    }
}

@media only screen and (max-width: 700px) {
    body {
        padding: 15px 20px;
    }

    .contain {
        padding-inline: 20px;
    }
}

@media only screen and (max-width: 450px) {
    body {
        padding: 120px 20px;
    }

    nav {
        border-radius: 0;
        width: 100vw;
        justify-content: space-around;
        position: fixed;
        top: 0px;
    }

    nav a svg {
        display: none;
    }

    .selected svg {
        display: initial;
    }

    .selected {
        background: none;
    }
}



/* GENERAL HEADER LAYOUTS */

wordmark {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-block: 30px;
    text-align: center;
    width: 100%;
}

.lead {
    gap: 15px;
    padding-top: 0px;
}
  
.lead h1, .emphasis h1 {
    font-size: 80px;
}

.lead p {
    font-size: 32px;
}

.emphasis {
    gap: 80px;
    padding-block: 0px;
    align-items: center;
}

.emphasis h2 {
    font-size: 48px;
}

wordmark h1 {
    font-size: 56px;
}

wordmark h2 {
    font-size: 32px;
    opacity: 0.5;
}

.black {
    opacity: 1;
}

sec {
    opacity: 0.5;
}

.only-med {
    display:none;
}

.only-medium {
    display:none;
}

.only-large {
    display:flex;
}

.only-small {
    display:none;
}

@media only screen and (max-width: 1370px) {

    .only-large {
        display:none;
    }

    .only-medium {
        display:flex;
    }
}

@media only screen and (max-width: 1130px) {
    wordmark {
        padding-block: 20px;
    }

    .only-small {
        display:flex;
    }

    .only-med {
        display:initial;
    }
}

@media only screen and (max-width: 1370px) {

    .emphasis {
        gap: 100px;
    }

    .lead h1, .emphasis h1 {
        font-size: 64px;
    }

    .lead p {
        font-size: 28px;
    }

    .emphasis h2 {
        font-size: 40px;
    }

    wordmark h1 {
        font-size: 44px;
    }

    wordmark h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 700px) {
    .lead {
        gap: 5px;
    }
    
    .emphasis {
        gap: 80px;
    }

    .lead h1, .emphasis h1 {
        font-size: 48px;
        padding-inline: 20px;
    }

    .emphasis h2 {
        font-size: 32px;
        padding-inline: 20px;
    }

    wordmark h1 {
        font-size: 36px;
    }

    wordmark h2 {
        font-size: 21px;
    }
}






/* GENERAL STRUCTURE LAYOUT*/

segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 0px 60px;
    width: 100%;
    max-width: 1550px;
}

img {
    object-fit: contain;
    width: auto;
}

holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 1130px) {
    segment {
        padding: 0px 0px 80px;
    }
}





/* KEY IMAGES*/

.iPhones-3 {
    max-height: 1100px;
}

.hold-iPhones-3 {
    max-height: 1010px;
}

@media only screen and (max-width: 1370px) {
    .iPhones-3 {
        max-height: 900px;
    }
    
    .hold-iPhones-3 {
        max-height: 800px;
    }
}

@media only screen and (max-width: 1130px) {
    .iPhones-3 {
        max-height: 800px;
    }
    
    .hold-iPhones-3 {
        max-height: 700px;
    }
}

@media only screen and (max-width: 700px) {
    .iPhones-3 {
        max-height: 600px;
    }
    
    .hold-iPhones-3 {
        max-height: 500px;
    }
}




/* COLOR PICKER */

color-options {
    display: flex;
    height: 850px;
    border-radius: 70px;
    background: #f7f7f7;
    width: 100%;
    align-items:flex-end;
    justify-content: space-between;
    padding: 30px 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.4s ease-in-out;
}

color-touch {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
}

color-panel {
    display: flex;
    width: fit-content;
}

.selected-color {
    border: 3px rgb(0, 122, 255, 0.5) solid;
    background-color: #FFF;
}

button {
    border: 3px rgb(0, 122, 255, 0.0) solid;
    border-radius: 100px;
    outline: none;
    padding: 2px;
    border-radius: 100px;
    background-color: transparent;
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.1s ease;
}

button:hover {
    border: 3px rgb(0, 122, 255, 0.5) solid;
    cursor:pointer;
}

button:active > paint {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.35);
}

paint {
    display: block;
    border-radius: 100px;
    height: 36px;
    width: 36px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
    align-content: center;
    transition: box-shadow 0.2s ease;
}

.blue {
    background: #56ADD3;
    fill: #D9CEC6;
}

.green {
    background: #388D2A;
    fill: #EAAF20;
}

.orange {
    background: #DF5928;
    fill: #FFB500;
}

.pink {
    background: #F6638F;
    fill: #FFC0B2;
}

.purple {
    background: #7F8DB2;
    fill: #A7D0E8;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70px;
    height: 70px;
    gap: 5px;
}

@media only screen and (max-width: 1130px) {
    color-options {
        height: 950px;
    }
    
    color-touch {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .label {
        width: 65px;
    }
}

@media only screen and (max-width: 700px) {
    color-options {
        height: 750px;
        width: 100vw;
        border-radius: 0px;
    }
}






/* COLOR PICKER TEXTS, .emphasis because the color picker is within the key segment */

.emphasis color-options h1 {
    font-size: 36px;
    padding-left: 20px;
    text-wrap: nowrap;
}

.emphasis color-options p {
    opacity: 0;
    font-size: 15px;
    transition: opacity 0.1s ease, scale 0.2s ease;
    scale: 0.75;
}

.button.selected-color + p {
    opacity: 0.5;
    scale: 1;
}

@media only screen and (max-width: 1370px) {
    .emphasis color-options h1 {
        font-size: 28px;
        padding-left: 0px;
        text-wrap: wrap;
    }
}





/* ITEM GRID */

item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
}

.wider {
    grid-column: span 3;
}

.wide {
    grid-column: span 2;
}

.widest {
    grid-column: span 4;
}

item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    background: #f7f7f7;
    height: 320px;
    padding: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
}

@media only screen and (max-width: 1370px) {
    item {
        gap: 0px;
        height: 260px;
    }
}


@media only screen and (max-width: 1130px) {
    item {
        height: 320px;
    }

    item-grid {
        grid-template-columns: 1fr 1fr;
    }

    .wider {
        grid-column: span 2;
    }
    
    .wide {
        grid-column: span 2;
    }
    
    .widest {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 700px) {
    item {
        height: 290px;
    }

    item-grid {
        grid-template-columns: 1fr;
    }

    .wider {
        grid-column: span 1;
    }
    
    .wide {
        grid-column: span 1;
    }
    
    .widest {
        grid-column: span 1;
    }
}









/* ITEM TEXT */

item h1 {
    font-size: 21px;
}

item p {
    font-size: 19px;
    opacity: 0.5;
}









/* CAPTIONS */

caption-grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
}

.dive topic {
    background: none;
}

.dive topic h1 {
    font-size: 21px;
}

.dive topic p {
    font-size: 21px;
}

.dive .select {
    background: #f7f7f7;
}

topic {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: #f7f7f7;
    padding: 50px;
    gap: 10px;
    max-width: 100%;
}

topic h1 {
    font-size: 21px;
}

topic p {
    font-size: 19px;
    opacity: 0.5;
    line-height:1.4;
}

@media only screen and (max-width: 1370px) {
    topic {
        padding: 30px 40px;
        gap: 5px;
    }
    
    topic h1 {
        font-size: 19px;
    }

    .dive topic h1 {
        font-size: 19px;
    }
    
    .dive topic p {
        font-size: 19px;
    }
}

@media only screen and (max-width: 700px) {
    caption-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    topic {
        padding: 30px 30px;
    }
}




/* iPHONES */

/* ONE STAGGERED */

.staggered {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 0px;
    row-gap: 20px;
    padding-inline: 100px;
}

.staggered holder {
    max-height: 750px;
}

.staggered .iPhone {
    max-height: 970px;
}

.centered {
    justify-content: center;
}

.staggered h1 {
    font-size: 48px;
}

.bottom {
    padding-bottom: 140px;
}

@media only screen and (max-width: 1370px) {
    .staggered {
        padding-inline: 60px;
        column-gap: 60px;
        margin-bottom: 50px;
    }

    .staggered holder {
        max-height: 670px;
    }
    
    .staggered .iPhone {
        max-height: 780px;
    }
    
    .staggered h1 {
        font-size: 36px;
    }
    
    .bottom {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .staggered holder, .hold-two holder, .hold-four holder {
        max-height: 670px;
    }
    
    .staggered .iPhone, .hold-two .iPhone, .hold-four .iPhone {
        max-height: 730px;
    }
}

/* TWO TWO */

.hold-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 0px;
    justify-content: center;
    row-gap: 60px;
    padding-inline: 250px;
}

.hold-two .iPhone {
    max-height: 850px;
}

.hold-two holder {
    max-height: 770px;
}

@media only screen and (max-width: 1130px) {
    .hold-two {
        padding-inline: 20px;
    }

    .hold-two .iPhone {
        max-height: 750px;
    }
    
    .hold-two holder {
        max-height: 700px;
    }
}

/* THREE THREE THREE*/

.hold-three {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 20px;
}

.hold-three .iPhone {
    height: 800px;
}

.hold-three holder {
    max-height: 700px;
}

@media only screen and (max-width: 1130px) {
    .hold-three {
        column-gap: 0px;
    }

    .with-text .iPhone {
        height: 850px;
    }
    
    .with-text holder {
        max-height: 750px;
    }
}

@media only screen and (max-width: 700px) {

    .with-text .iPhone {
        height: 570px;
    }
    
    .with-text holder {
        max-height: 510px;
    }
}

/* FOUR FOUR FOUR FOUR */

.hold-four {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    row-gap: 60px;
}

.hold-four .iPhone {
    height: 730px;
}

.hold-four holder {
    max-height: 680px;
}

@media only screen and (max-width: 1130px) {
    .hold-four {
        padding-inline: 20px;
        row-gap: 40px;
    }
    
    .hold-four .iPhone {
        height: 750px;
    }

    .hold-four holder {
        max-height: 670px;
    }
}



/* SIX SIX SIX SIX SIX SIX */

.hold-six {
    max-height: 1850px;
}

.six {
    max-height: 1923px;
}

@media only screen and (max-width: 1130px) {
    .hold-six {
        max-height: 1450px;
    }
    
    .six {
        max-height: 1485px;
    }
}







/* WITH TEXT */

.hold-three .with-text {
    max-height: none;
}

.with-text {
    gap: 10px;
    width: 100%;
}

.with-text h1 {
    font-size: 21px;
    line-height: 1.4;
}

.with-text p {
    font-size: 19px;
    opacity: 0.5;
}








carousel-contain {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    max-width: 1550px;
}

carousel {
    position: relative;
    width: 100%;
    padding-inline: 60px;
}

slider-caption {
    height: 100%;
    display: flex;
    width: 200%;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.75s;
}

slider-caption a {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    cursor: default;
    padding-inline: 60px;
}

platter {
    display: flex;
    gap: 10px;
    padding-block: 20px;
}

indicator {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: rgb(0, 0, 0, 0.3);
    cursor: pointer;
}

indicator.selected, indicator2.selected {
    background-color: rgb(0, 0, 0, 1);
}

@media only screen and (max-width: 1370px) {
    slider-caption {
        width: 300%;
        padding-inline: 0px;
        transition: ease-in-out 0.5s;
    }

    slider-caption a {
        padding-inline: 0px;
    }
}

@media only screen and (max-width: 1130px) {
    slider-caption {
        width: 600%;
    }
}

























/* CAROUSEL */

.left:hover, .right:hover {
    border: none;
    background: rgb(0, 0, 0, 0.07);
}

.left:active, .right:active {
    background: rgb(0, 0, 0, 0.2);
}


.left, .right {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    min-width: 48px;
    background: rgb(0, 0, 0, 0.05);
    border-radius: 100px;
    position: absolute;
    backdrop-filter: saturate(120%) blur(10px);
    -webkit-backdrop-filter: saturate(120%) blur(10px);
    z-index: 3;
    transition: background 0.3s ease-in-out;
    margin-bottom: 80px;
}

.left {
    left: 60px;
}

.right {
    right: 60px;
}

.left svg, .right svg {
    opacity: 0.5;
}

.left svg {
    margin-right: 3px;
}

.right svg {
    margin-left: 3px;
}

@media only screen and (max-width: 1130px) {
    carousel {
        width: auto;
    }
}

@media only screen and (max-width: 700px) {
    .left {
        left: 20px;
    }
    
    .right {
        right: 20px;
    }
}



/* STATS */

stats {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 0px;
    row-gap: 20px;
    padding: 180px 180px 100px;
    width: 100%;
}

stat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

stat h3 {
    font-size: 17px;
    font-weight: 700;
    opacity: 0.5;
}

stat h1 {
    font-size: 80px;
}

stat h2 {
    font-size: 32px;
    opacity: 0.5;
}

@media only screen and (max-width: 1370px) {
    stats {
        row-gap: 60px;
        padding: 180px 60px 100px;
    }

    stat h1 {
        font-size: 64px;
    }
    
    stat h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 700px) {

    stat h1 {
        font-size: 48px;
    }
    
    stat h2 {
        font-size: 24px;
    }
}




/* VISION PRO */

vision {
    width: 100%;
    aspect-ratio: 1392 / 850;
    border-radius: 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1130px) {
    vision {
        aspect-ratio:unset;
        height: 480px;
    }
}

@media only screen and (max-width: 700px) {
    vision {
        height: 500px;
        width: 100vw;
        border-radius: 0;
    }

    .hide-small {
        display: none;
    }
}