*, *::before, *::after {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, p, p1, bold, .magic {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    height: fit-content;
    font-weight: 600;
}
a { text-decoration: none; color: inherit; }
svg { fill: inherit; }
p { font-weight: 400;}

button {
    outline: none;
    border:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

:root {
    --s-word: linear-gradient(to top, #1981C2, #62B7DC);
    --s-magic: linear-gradient(to top, #4682BD, #5ABEBA);
    --s-blue: #437EBD;

    --l-prim: black;
    --l-sec: rgb(60, 63, 67, 0.65);
    --l-tert: rgba(60, 63, 67, 0.03);
    
    --l-seperator: linear-gradient(to right, rgba(60, 63, 67, 0.07), rgba(60, 63, 67, 0.25), rgba(60, 63, 67, 0.07)) 1;

    --d-prim: white;
    --d-sec: rgb(255, 255, 255, 0.55);

    --picker: rgb(0, 20, 40, 0.05);
    --picker-2: rgb(232, 234, 236, 0.75);
}

/* TYPOGRAPHY */
prim {color: var(--l-prim);}

h1 {
    font-size: 80px;
    line-height: 84px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background: var(--s-word);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

bold {
    font-size: 64px;
    line-height: 68px;
} 

h2, .magic {
    font-size: 48px;
    line-height: 52px;
    color: var(--l-prim);
}

.magic {
    background: var(--s-magic);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    max-width: 750px;
}

h3 {
    font-size: 36px;
    line-height: 40px;
}

h4 {
    font-size: 32px;
    line-height: 36px;
    min-width: 330px;
}

h5 {
    font-size: 21px;
    line-height: 29px;
    color: var(--l-sec);
}

p1, p {
    font-size: 19px;
    line-height: 27px;
}

p1 {
    color: var(--l-sec);
    max-width: 312px;
}

f {
    font-size: 14px;
    line-height: 22px;
    color: var(--l-sec);
}

.dark h5, .darker h5, .dark p1, .darker p1, .dark f, .darker f {
    color: var(--d-sec);
}

.dark prim, .dark h2, .darker prim, .darker h2 {
    color: var(--d-prim);
}



@media (width <= 1068px) {
    h1 {
        font-size: 64px;
        line-height: 60px;
    }

    bold {
        font-size: 48px;
        line-height: 52px;
    }

    h2, .magic {
        font-size: 40px;
        line-height: 48px;
    }

    h3 {
        font-size: 32px;
        line-height: 36px;
    }

    h4 {
        font-size: 24px;
        line-height: 28px;
        min-width: 230px;
    }

    h5 {
        font-size: 19px;
        line-height: 27px;
    }
}

@media (width <= 735px) {
    h1 {
        font-size: 48px;
        line-height: 52px;
    }

    bold {
        font-size: 40px;
        line-height: 44px;
    }

    h2, .magic {
        font-size: 32px;
        line-height: 36px;
    }

    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    h4 {
        font-size: 24px;
        line-height: 28px;
        width: 80%;
    }

    p1, p {
        font-size: 17px;
        line-height: 25px;
    }
}















/* NAVIGATION ----------------------------------------------------------------------------------------------------- */

nav {
    display: flex;
    padding: 4px;
    gap: 4px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

nav a {
    padding: 8px 16px;
    color: var(--l-sec);
    font-size: 17px;
    align-items: center;
    border-radius: 11px;
    transition: all 0.3s ease;
}

nav a:hover {
    background: rgb(0, 0, 0, 0.05);
    color: var(--l-prim);
}

.selected {
    color: var(--l-prim);
}

@media only screen and (max-width: 700px) {
    nav {
        border-radius: 0;
        width: 100vw;
        justify-content: space-around;
        position: fixed;
        top: 0px;
    }

    nav a svg {
        display: none;
    }

    .selected svg {
        display: initial;
    }
}






/* STRUCTURAL ----------------------------------------------------------------------------------------------------- */

.contain, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
    width: 100vw;
}

body {
    background: linear-gradient(to top, white, #F5F7F9);
}

holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1;
}

view, responsive {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-block: 120px;
    gap: 30px;
    width: 100%;
}

view {
    overflow: hidden;
    background: linear-gradient(to bottom, white, #FAFBFC);
}

.white {
    background: white;
    padding-block: 0;
}

responsive {
    padding-block: 0;
    gap: 30px;
    width: 90vw;
    max-width: 980px;
    position: relative;
}

.small {
    display: none;
}

.not-small {
    display: initial;
}

column, row {
    display: flex;
    flex-direction:column;
}

row {
    flex-direction:row;
}

.dark, .darker, .dark-gradient {
    background: #151515;
    color: white;
}

.darker {
    background: black;
}



.dark prim, .darker prim {
    color: rgb(255, 255, 255);
}



@media (width <= 1068px) {
    responsive {
        max-width: 700px;
    }
}

@media (width <= 735px) {
    view {
        padding-block: 100px;
    }

    responsive {
        max-width: 312px;
    }

    .small {
        display: initial;
    }

    .not-small {
        display: none;
    }

}








/* KEYMARK ----------------------------------------------------------------------------------------------------- */

/* Font */



/* Structure */
.keymark {
    gap: 60px;
    text-align: center;
}

.five {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 1720px;
}

.five holder {
    max-height: 600px;
}

.five .iPhone {
    height: 700px;
}

.offset {
    padding-top: 15%;
}

@media (width <= 1068px) {

    .five {
        width: 1315px;
    }
    
    .five holder {
        max-height: 480px;
    }
    
    .five .iPhone {
        height: 560px;
    }
}

@media (width <= 735px) {
    
   

    .five {
        width: 900px;
    }
    
    .five holder {
        max-height: 325px;
    }
    
    .five .iPhone {
        height: 380px;
    }
}








/* DISCOVER ----------------------------------------------------------------------------------------------------- */

.discover responsive {
    padding-inline: 80px;
}


.yourself {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.yourself .text {
    padding-block: 80px;
    gap: 30px;
    max-width: 330px;
}

.up-to {
    gap: 4px;
    padding-block: 50px;
}

.yourself holder {
    padding-left: 70px;
    max-width: 330px;
}

.yourself .iPhone {
    max-height: 950px;
}

.fit-cabinet {
    gap: 60px;
    padding-inline: 80px;
    align-items: flex-start;
}

.fit-cabinet .text {
    gap: 30px;
    max-width: 570px;
}

.cabinet-picker {
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    border-radius: 100px;
    align-self: center;
    background-color: var(--picker);
    width:fit-content;
}

.prim-btn, .prim-btn-show {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.prim-btn svg, .prim-btn-show svg {
    fill: var(--l-sec);
}

.progressive-views {
    justify-content: center;
    width: 100%;
    gap: 40px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    margin-bottom: -40px;
    z-index: 1;
}

.show {
    opacity: 1;
    margin-bottom: -10px;
}


.sec-btn {
    font-size: 19px;
    line-height: 25px;
    color: var(--l-sec);
    width: 70px;
}

.pressed {
    background-color: white;
}

.pressed svg {
    fill: var(--l-prim);
}

.selec {
    color: rgb(0, 0, 0,1);
    background: none;
    font-weight: 500;
}

.cab-controls {
    gap: 30px;
    width: 100%;
}

.fit-cabinet holder {
    max-height: 600px;
    border-top: 2px solid transparent;
    border-image: var(--l-seperator);
}

.fit-cabinet .cabinet {
    aspect-ratio: 979/630;
    min-height: 660px;
    background-image: url("Im/s-cabinet-1.webp");
    transition: background-image 0.25s ease-in-out;
    z-index: 3;
}

@media (width <= 1068px) {
    .discover responsive {
        padding-inline: 0px;
    }

    .yourself .text {
        padding-block: 0px;
        max-width: 293px;
    }

    .up-to {
        padding-block: 20px;
    }

    .yourself holder {
        padding-left: 25px;
        max-width: 293px;
    }

    .yourself .iPhone {
        max-height: 750px;
    }

    .fit-cabinet {
        gap: 40px;
        padding-inline: 0px;
    }

    .fit-cabinet .text {
        gap: 30px;
        max-width: 570px;
    }

    .fit-cabinet holder {
        max-height: 560px;
    }
    
    .fit-cabinet .cabinet {
        min-height: 610px;
    }
}

@media (width <= 735px) {
    .yourself {
        flex-direction: column;
        gap: 40px;
    }

    .yourself .text {
        padding-block: 0px;
        max-width:none;
    }

    .up-to {
        padding-block: 10px;
    }

    .yourself holder {
        padding-left: 0px;
        max-width:none;
    }

    .yourself .iPhone {
        max-height: 730px;
    }
    
    .fit-cabinet holder {
        max-height: 420px;
    }
    
    .fit-cabinet .cabinet {
        min-height: 425px;
    }

    .progressive-views {
        gap: 10px;
    }

    .sec-btn {
        font-size: 17px;
        line-height: 25px;
        min-width: 65px;
    }

    .prim-btn, .prim-btn-show {
        width: 44px;
        height: 44px;
    }
}










/* ARTIFACT INTRO ----------------------------------------------------------------------------------------------------- */

/* Font */

.artifact-intro p {
    font-size: 15px;
    line-height: 20px;
    color: rgb(255, 255, 255, 0.55);
}

/* Structure */

.artifact-intro {
    padding-block: 120px 60px;
}

.artifact-intro responsive {
    align-items: flex-start;
    gap: 10px;
}

.artifact-intro .text {
    max-width: 570px;
    gap: 30px;
}

.items {
    aspect-ratio: 1170/385;
    min-height: 400px;
    background-image: url("Im/s-items.webp");
}

@media (width <= 1068px) {

    .artifact-intro {
        padding-block: 120px 70px;
    }

    .artifact-intro responsive {
        gap: 0px;
    }
    
    .artifact-intro .text {
        gap: 20px;
    }

    .items {
        aspect-ratio: 795/385;
        min-height: 360px;
        background-image: url("Im/s-items-med.webp");
    }
}

@media (width <= 735px) {
    .artifact-intro {
        padding-block: 100px 80px;
    }
    
    .items {
        aspect-ratio: 400/650;
        min-height: 560px;
        background-image: url("Im/s-items-small.webp");
    }
}







/* ARTIFACT GALLERY ----------------------------------------------------------------------------------------------------- */

/* Structure */

.artifact-gallery {
    gap: 90px;
}

.artifact-gallery responsive {
    padding-inline: 80px;
    flex-direction: row;
    justify-content: space-between;
}

.artifact-gallery .reverse {
    flex-direction: row-reverse;
}

.artifact-gallery .text {
    gap: 20px;
    justify-content: center;
    max-width: 330px;
}

.artifact-gallery .text holder {
    align-items: flex-start;
    max-width: 330px;
}

.artifact-gallery .artifact {
    max-height: 100px;
}

.artifact-gallery holder {
    max-width: 330px;
    max-height: 770px;
}

.artifact-gallery .iPhone {
    max-height: 910px;
}

@media (width <= 1068px) {
    .artifact-gallery responsive {
        padding-inline: 0px;
    }

    .artifact-gallery .text {
        max-width: 293px;
    }

    .artifact-gallery .text holder {
        max-width: 293px;
    }

    .artifact-gallery holder {
        max-width: 293px;
        max-height: 643px;
    }
    
    .artifact-gallery .iPhone {
        max-height: 750px;
    }
}

@media (width <= 735px) {
    .artifact-gallery {
        padding-block: 100px;
    }

    .artifact-gallery responsive, .artifact-gallery .reverse {
        flex-direction: column;
    }

    .artifact-gallery .text {
        max-width: 320px;
    }

    .artifact-gallery .text holder {
        max-width: 320px;
    }

    .artifact-gallery holder {
        max-width: 320px;
        max-height: 626px;
    }
    
    .artifact-gallery .iPhone {
        max-height: 730px;
    }
}








/* TUNNEL GRID ----------------------------------------------------------------------------------------------------- */

.tunnel-grid p1 {
    width: 240px;
}

/* Structure */
.tunnel-grid {
    padding-block: 160px;
}

.tunnel-grid responsive {
    max-width: 1330px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    row-gap: 80px;
}

.tunnel-grid column {
    gap: 20px;
    align-items: center;
}

.tunnel-grid holder {
    max-height: 555px;
}

.tunnel-grid .iPhone {
    max-height: 650px;
}

@media (width <= 1068px) {
    .tunnel-grid responsive {
        max-width: 700px;
    }
}

@media (width <= 735px) {
    .tunnel-grid {
        padding-block: 100px;
    }

    .tunnel-grid responsive {
        max-width: 320px;
    }
}










/* WORKFLOW ----------------------------------------------------------------------------------------------------- */

/* Structure */
.workflow {
    padding-block: 150px 0px;
}

.workflow responsive {
    align-items: flex-start;
    gap: 90px;
}

.workflow row {
    display: grid;
    grid-auto-flow: column;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: 265px;
    transition: all 0.6s cubic-bezier(0.28, 0.11, 0.32, 1);
    position: relative;
}

.workflow holder {
    max-width: 450px;
    opacity: 0.5;
    transition: all 0.6s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.workflow .current {
    opacity: 1;
}

.workflow .iPhone {
    max-height: 650px;
}

.workflow-trail {
    padding-block: 30px 120px;
    background: white;
}

.button-container {
    display: flex;
    width: 486px;
    justify-content: space-between;
    position:absolute;
    align-self: center;
    justify-self: center;
    z-index: 3;
    margin-top: 180px;
}

.left, .right {
    width: 36px;
    height: 36px;
    opacity: 0.5;
    cursor: pointer;
}

.left svg, .right svg {
    fill: var(--l-sec);
}

.left:active > svg, .right:active > svg{
    fill: var(--l-prim) !important;
}

.left {
    opacity: 0.3;
}

.spring-up {
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.spring-up.animate {
    animation: reveal 0.75s ease-in-out both;
}

.swap {
    animation: swap 0.75s ease-in-out both;
}
  
@keyframes swap {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    49% {
        transform: translateY(-15px);
        opacity: 0;
    }

    50% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (width <= 1068px) {
    .button-container {
        width: 426px;
        margin-top: 180px;
    }

    .workflow holder {
        max-width: 390px;
    }

    .workflow .iPhone {
        max-height: 560px;
    }

    .workflow-trail h2 {
        max-width: 293px;
    }

    .workflow row {
        margin-inline: 155px;
    }
}

@media (width <= 735px) {
    .button-container {
        width: 351px;
        margin-top: 130px;
    }

    .workflow responsive {
        gap: 60px;
    }

    .workflow holder {
        max-width: 315px;
    }

    .workflow .iPhone {
        max-height: 450px;
    }

    .workflow-trail p1 {
        max-width: 240px;
    }

    .workflow row {
        margin-inline: -1.5px;
    }
}








/* VISION-PRESHOW ----------------------------------------------------------------------------------------------------- */
.vision-preshow h1, .magic-color {
    font-size: 48px;
    line-height: 52px;
    background: linear-gradient(to bottom, #5ABEBA, #4682BD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    max-width: 750px;
}

.vision-preshow h2 {
    color: black;
}

.vision-preshow {
    padding-block: 120px 90px;
    background: white;
    gap: 0px;
    text-align: center;
}

@media (width <= 1068px) {
    .vision-preshow h1, .magic-color {
        font-size: 40px;
        line-height: 44px;
        max-width: 570px;
    }
}

@media (width <= 735px) {
    .vision-preshow h1, .magic-color {
        font-size: 32px;
        line-height: 36px;
        min-width: 350px;
    }

    .vision-preshow {
        padding-block: 100px 90px;
    }
}







/* SHELF-VISION ----------------------------------------------------------------------------------------------------- */
.shelf-vision {
    height: 1000px;
    background: inherit;
    max-width: 1730px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hold-two-visions {
    gap: 10px;
    width: 100%;
    max-width: 1730px;
}

.vis-word {
    background: white;
    padding-block: 90px 180px;
}

.vis-word responsive {
    flex-direction: row;
    align-items: flex-start;
    gap: 120px;
    justify-content: space-between;
}

.vis-1 {background-image: url("Im/s-vision-1.webp");}
.vis-s {background-image: url("Im/s-vision-search.webp");}
.vis-m {background-image: url("Im/s-vision-mail.webp");}
.vis-2 {background-image: url("Im/s-vision-2.webp");}
.vis-3 {background-image: url("Im/s-vision-3.webp");}

@media (width >= 1730px) {
    .shelf-vision {
        border-radius: 40px;
    }

    .hold-two-visions {
        gap: 20px;
    }
}

@media (width <= 1068px) {
    .shelf-vision {
        height: 500px;
    } 

    .vis-word responsive {
        gap: 60px;
    }

    .vis-word h5 {
        font-size: 17px;
        line-height: 25px;
    }
}

@media (width <= 735px) {

    .vis-word responsive {
        gap: 20px;
        flex-direction: column;
    }

    .vis-word {
        padding-block: 50px 100px;
    }

    .shelf-vision {
        height: 360px;
    }

    .hold-two-visions {
        gap: 5px;
    }
}










/* RESEARCH ----------------------------------------------------------------------------------------------------- */
.research, .research-work { background: #F5F7F9; }
.research-worktrail { background: linear-gradient(to bottom, #FAFBFC, #F5F7F9); }
.research-work { padding-top: 30px;}
.research responsive { align-items: flex-start;}
.research h2 { color: black; }
.blue h5 { color: var(--s-blue); }
.research column { gap: 10px; }

.research-text {
    gap: 30px;
    width: 100%;
}

.research-text p {
    margin-bottom: 15px;
    height: 100%;
}

.research-text column {
    padding: 36px 40px;
    background: white;
    border-radius: 20px;
    gap: 15px;
    width: 100%;
}

.end {
    padding-block: 60px;
}

@media (width <= 1068px) {
    .research responsive {
        gap: 20px;
    }

    .research-text {
        gap: 20px;
    }

    .research-text p {
        font-size: 17px;
        line-height: 25px;
    }

    .research-text column {
        padding: 28px 32px;
    }
}

@media (width <= 735px) {

    .research-text {
        flex-direction: column;
    }

    .research-text column {
        min-width: 353px;
        gap: 10px;
        align-self: center;
        padding: 32px 36px;
    }
}

















/* EFFECTS ----------------------------------------------------------------------------------------------------- */

.appear {
    opacity: 0;  
    filter: blur(5px);
    transform: scale(0.9);
    animation: appearAnimation 1.5s ease-in-out forwards;
    animation-delay: 2s; 
}

@keyframes appearAnimation {
    100% {
      filter: blur(0);
      transform: scale(1);
      opacity: 1;
    }
}

.first, .second, .third, .fourth, .fifth {
    animation: moveAnimation 1.75s ease-in-out forwards;
    opacity: 0;  
}

.second {
    animation-delay: 0.2s; 
}
.third {
    animation-delay: 0.3s; 
}

.fourth {
    animation-delay: 0.4s; 
}

.fifth {
    animation-delay: 0.5s; 
}

@keyframes moveAnimation {
    0% {
      transform: translateX(1600px);
    }
    25% {
        transform: translateX(1600px);
        opacity: 0.5;
    }
    75% {
        transform: translateX(-30px);
        opacity: 1;
      }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@media (width >= 1600px) {

    @keyframes moveAnimation {
        0% {
          transform: translateX(2000px);
        }
        25% {
            transform: translateX(2000px);
            opacity: 0.5;
        }
        75% {
            transform: translateX(-40px);
            opacity: 1;
          }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
    }
}

@media (width >= 2300px) {
    @keyframes moveAnimation {
        0% {
          transform: translateX(2400px);
        }
        25% {
            transform: translateX(2400px);
            opacity: 0.5;
        }
        75% {
            transform: translateX(-50px);
            opacity: 1;
          }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
    }
}

@media (width <= 735px) {
    @keyframes moveAnimation {
        0% {
          transform: translateX(1600px);
        }
        25% {
            transform: translateX(1600px);
            opacity: 0.5;
        }
        75% {
            transform: translateX(-20px);
            opacity: 1;
          }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
    }
}

.spring-up {
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.spring-up.animate {
    animation: reveal 0.75s ease-in-out both;
}
  
@keyframes reveal {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}






/* CHIN ------------------------------------------------------------------------------------------------------------------ */
.chin {
    justify-content: flex-start;
    padding-block: 60px 120px;
    background: #F5F7F9;
}

.chin responsive {
    max-width: 980px;
    gap: 90px;
    align-items: flex-start;
}

.link-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    column-gap: 30px;
    row-gap: 30px;
}

.sect {
    gap: 15px;
    width: 100%;
}

.sect p {
    font-weight: 500;
}

.sub-sect {
    gap: 10px;
}

.chin h5 {
    font-size: 17px;
    line-height: 21px;
    color: var(--l-prim);
}

.chin p {
    font-size: 12px;
    line-height: 20px;
    color: var(--l-sec);
}

@media (width <= 1068px) {

    .chin {
        padding-block: 60px 100px;
    }

    .chin responsive {
        max-width: 700px;
        gap: 60px;
    }
}

@media (width <= 1068px) {
    .chin responsive {
        max-width: 312px;
        gap: 30px;
    }
}





